@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family:'Raleway', sans-serif;
    margin:0;
    border:0;
    box-sizing:border-box;
}

.wrapper{
    width:100%;
}

.ajoutProduit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin:50px 0 50px 0;
    text-align: center;
    color: rgb(140, 118, 192);
}

form{
    line-height: 24pt;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.elementForm{
    min-width: 100%;
    text-align: left;
}

.submitBtn{
    margin-top:20px;
    font-size:12pt;
    padding: 6px 25px 6px 25px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(219, 204, 255);
}

.submitBtn:hover{
    background-color: rgb(140, 118, 192);
    color: white;
}

.champTxt{
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    align-self: right;
    padding: 3px 0 2px 10px;
    font-size: 11pt;
}

.navigation{
    text-align: center;
    width:100vw;
    margin-top : 50px;
}

.compteur{
    margin-top: 30px;
    text-align: center;
}

.recapProduits{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aucunProduit{
    text-align: center;
    margin-top: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
    text-align: right;
}

td{
    text-align: center;
    padding: 7px 15px 7px 15px;
}

th{
    text-align:center;
}

a
{
    color: rgb(140, 118, 192);
}

.messageErreur{

    text-align: center;
    color: rgb(241, 82, 8);
    padding: 20px;
    border: 1px solid rgb(241, 82, 8);
    border-radius: 7px;
    width: auto;
    position: absolute;
    display: block;
    bottom: 50px;
    right: 50px;
}

.messageValid{
    text-align: center;
    color: rgb(41, 168, 49);
    padding: 20px;
    border: 1px solid rgb(41, 168, 49);
    border-radius: 7px;
    width: auto;
    position: absolute;
    display: block;
    bottom: 50px;
    right: 50px;

}

.deleteAll{
    margin-top: 50px;
    text-align: center; 
    text-transform: uppercase;
    padding: 5px;
    color: rgb(241, 82, 8);
    text-decoration: none;
    border-radius: 4px;
    border: solid 1px rgb(241, 82, 8)

}

.deleteAll:hover{
    background-color: rgb(241, 82, 8);
    color: white;
}

.deleteBtn{
    color: rgb(241, 82, 8);
}

.plusMoins{
    padding: 0 6px 0 6px;
    text-decoration: none;
    vertical-align: center;
}

/*Por re-sizer les images, il faut les inclure dans une div container dont on définit la taille*/

.imgContainer {
    width: 200px;
    height: auto;
}

img{
    width: 100%;
    height : auto;
}
